@font-face {
    font-family: "Poppins-Medium";
    src: url(../../font/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../../font/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../../font/Poppins-SemiBold.ttf);
    font-weight: 600;
}