* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins";
}

.container {
    max-width: 1340px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}